<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/css")

</head>
<body>
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <div id="maindiv">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><div class="sideicon" onclick="openLeftMenu()">&#9776;</div></li>
                        <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                        <li><a href="@Url.Action("Index","About")">Sobre</a></li>
                        <li><a href="@Url.Action("Index","Task")">Minhas Tarefas</a></li>
                        <li><a href="@Url.Action("Index","Messages")">Mensagens</a></li>
                        <li><a href="@Url.Action("Index","News")">Novidades</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row">
            <div id="sidemenu" class="leftmenu">
                <a href="javascript:void(0)" class="closebtn" onclick="closeLeftMenu()">&times;</a>
                <a href="@Url.Action("Index","Administration")">Administração</a>
                <a href="@Url.Action("Index","Projects")">Projetos</a>
                <a href="@Url.Action("Index","Group")">Grupos</a>
                <a href="@Url.Action("Index","Deliver")">Entregas</a>
                <a href="@Url.Action("Index","Timeline")">Timeline</a>
            </div>
        </div>
        <div class="row">
            <div class="valkicon text-center">
                <img src="@Url.Content("~/Content/img/valk.png")">
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
